<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Smart Home</title>
      <link href="/static/styles.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </head>

    <body>
      <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'emotion' %}">Emotion Camera</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Security Camera</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <video id="webcam" autoplay playsinline width="640" height="480"></video>
      <canvas id="canvas" class="d-none"></canvas>

      <form action="{% url 'security' %}" method="post" id="imageform">
        {% csrf_token %}
        <input type="hidden" name="image" id="image" value="">
      </form>
      
      <button id="imagebutton">Take Image</button>
    </body>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
              
        const webcamElement = document.getElementById('webcam');
        const canvasElement = document.getElementById('canvas');
        const webcam = new Webcam(webcamElement, 'environment', canvasElement);
        webcam.start()

        const captureTimeout = setTimeout(function() {
          document.querySelector('#image').value = webcam.snap();
          document.querySelector('#imageform').submit();
        }, 30000); 

        document.querySelector('#imagebutton').addEventListener('click', function(){
          clearTimeout(captureTimeout);
          document.querySelector('#image').value = webcam.snap();
          document.querySelector('#imageform').submit();
        })
      })
  </script>
</html>
